# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="postgresql://postgres:lFZE685QXOM59p6f@localhost:5432/what-to-eat-v2"
DATABASE_PASSWORD=""
UPLOADTHING_TOKEN=UPLOADTHING_TOKEN='' # A token for interacting with the SDK
BETTER_AUTH_SECRET=
BETTER_AUTH_URL= #Base URL of your app